<a href="https://colab.research.google.com/github/Vipulesh/Machina-Doctrinas/blob/main/machinaDoctrinas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# minimise MSE acc to problem statement

###Consideration of data

In [ ]:
data = pd.read_csv("Public Data.csv")

In [ ]:
data.head(20)

,Unnamed: 0,Country,Year,Status,Power Level,Civilian Deaths,Military Accidents,Substance Abuse,Military Investment,Air Force,...,Submarines,Educational Investment,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation
0,1,Afghanistan,2022,Developing,59.73,271.0,62,-0.25,73.83,59.0,...,58.0,8.06,62.0,-0.21,612.86,327582.0,17.16,17.68,0.44,10.57
1,2,Afghanistan,2021,Developing,60.50,268.0,66,-0.67,73.66,71.0,...,60.0,8.08,65.0,-0.04,631.58,31731688.0,18.28,17.85,0.72,10.40
2,3,Afghanistan,2020,Developing,60.09,271.0,70,-0.17,77.76,65.0,...,65.0,8.71,70.0,-0.21,669.50,3696953.0,16.85,18.46,0.99,9.52
3,4,Afghanistan,2019,Developing,58.88,279.0,70,0.69,6.95,72.0,...,65.0,8.34,72.0,-0.60,63.67,2978596.0,17.72,18.11,0.84,9.82
4,5,Afghanistan,2018,Developing,59.26,272.0,74,0.07,79.82,70.0,...,67.0,9.40,66.0,-0.12,553.89,2883166.0,18.91,18.76,0.52,9.14
5,6,Afghanistan,2017,Developing,58.80,277.0,74,0.33,56.76,63.0,...,59.0,9.19,64.0,0.39,445.83,284326.0,18.19,18.44,-0.17,8.76
6,7,Afghanistan,2016,Developing,58.50,283.0,80,0.80,25.99,65.0,...,64.0,8.42,66.0,0.74,372.62,2729431.0,19.85,19.22,0.31,7.95
7,8,Afghanistan,2015,Developing,57.64,297.0,89,0.71,11.24,63.0,...,64.0,7.12,62.0,0.41,369.92,26616795.0,18.41,19.54,0.58,7.86
8,9,Afghanistan,2014,Developing,58.01,299.0,84,-1.30,16.92,60.0,...,64.0,6.93,60.0,0.35,273.08,2589343.0,20.09,19.70,0.30,8.44
9,10,Afghanistan,2013,Developing,57.62,287.0,86,-0.22,2.72,66.0,...,57.0,8.87,57.0,1.28,25.23,257795.0,18.46,18.70,0.07,7.81
10,11,Afghanistan,2012,Developing,56.44,288.0,86,-0.49,15.30,65.0,...,4.0,8.75,7.0,0.61,218.63,24118976.0,20.20,18.89,1.99,7.39
11,12,Afghanistan,2011,Developing,56.43,292.0,87,-0.33,9.63,67.0,...,42.0,9.08,41.0,-0.24,198.98,2364856.0,18.60,20.32,1.11,6.82
12,13,Afghanistan,2010,Developing,56.05,-2.0,93,0.22,16.94,63.0,...,35.0,7.26,35.0,0.57,187.02,21979924.0,19.77,2.96,0.17,6.58
13,14,Afghanistan,2009,Developing,56.02,309.0,89,0.27,11.00,57.0,...,34.0,6.90,40.0,-0.61,118.85,2966463.0,2.08,3.06,1.05,6.17
14,15,Afghanistan,2008,Developing,54.61,324.0,90,-0.40,10.77,62.0,...,23.0,8.00,27.0,0.27,114.00,293753.0,2.29,2.68,1.40,6.09
15,17,Albania,2022,Developing,77.21,5.0,0,4.31,428.47,95.0,...,100.0,6.01,103.0,-0.02,4575.49,288912.0,1.19,0.89,1.14,14.13
16,18,Albania,2021,Developing,76.09,84.0,-5,4.52,431.34,102.0,...,98.0,6.01,99.0,0.17,4415.04,289592.0,1.13,1.21,0.68,13.74
17,19,Albania,2020,Developing,76.86,85.0,0,5.72,412.11,100.0,...,102.0,5.59,94.0,-0.93,4247.99,2941.0,1.33,1.84,0.74,13.98
18,20,Albania,2019,Developing,76.63,92.0,0,5.43,436.45,100.0,...,106.0,5.56,97.0,0.10,4436.96,295193.0,0.85,1.95,0.31,13.18
19,21,Albania,2018,Developing,76.44,96.0,2,4.86,41.58,99.0,...,90.0,5.77,101.0,0.26,494.65,291322.0,1.14,0.54,0.04,11.50

In [ ]:
data = data.iloc[:,1:]

In [ ]:
data.head(20)

,Country,Year,Status,Power Level,Civilian Deaths,Military Accidents,Substance Abuse,Military Investment,Air Force,Army,...,Submarines,Educational Investment,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation
0,Afghanistan,2022,Developing,59.73,271.0,62,-0.25,73.83,59.0,495,...,58.0,8.06,62.0,-0.21,612.86,327582.0,17.16,17.68,0.44,10.57
1,Afghanistan,2021,Developing,60.50,268.0,66,-0.67,73.66,71.0,431,...,60.0,8.08,65.0,-0.04,631.58,31731688.0,18.28,17.85,0.72,10.40
2,Afghanistan,2020,Developing,60.09,271.0,70,-0.17,77.76,65.0,2788,...,65.0,8.71,70.0,-0.21,669.50,3696953.0,16.85,18.46,0.99,9.52
3,Afghanistan,2019,Developing,58.88,279.0,70,0.69,6.95,72.0,3014,...,65.0,8.34,72.0,-0.60,63.67,2978596.0,17.72,18.11,0.84,9.82
4,Afghanistan,2018,Developing,59.26,272.0,74,0.07,79.82,70.0,1988,...,67.0,9.40,66.0,-0.12,553.89,2883166.0,18.91,18.76,0.52,9.14
5,Afghanistan,2017,Developing,58.80,277.0,74,0.33,56.76,63.0,2860,...,59.0,9.19,64.0,0.39,445.83,284326.0,18.19,18.44,-0.17,8.76
6,Afghanistan,2016,Developing,58.50,283.0,80,0.80,25.99,65.0,1600,...,64.0,8.42,66.0,0.74,372.62,2729431.0,19.85,19.22,0.31,7.95
7,Afghanistan,2015,Developing,57.64,297.0,89,0.71,11.24,63.0,1143,...,64.0,7.12,62.0,0.41,369.92,26616795.0,18.41,19.54,0.58,7.86
8,Afghanistan,2014,Developing,58.01,299.0,84,-1.30,16.92,60.0,1989,...,64.0,6.93,60.0,0.35,273.08,2589343.0,20.09,19.70,0.30,8.44
9,Afghanistan,2013,Developing,57.62,287.0,86,-0.22,2.72,66.0,1295,...,57.0,8.87,57.0,1.28,25.23,257795.0,18.46,18.70,0.07,7.81
10,Afghanistan,2012,Developing,56.44,288.0,86,-0.49,15.30,65.0,467,...,4.0,8.75,7.0,0.61,218.63,24118976.0,20.20,18.89,1.99,7.39
11,Afghanistan,2011,Developing,56.43,292.0,87,-0.33,9.63,67.0,804,...,42.0,9.08,41.0,-0.24,198.98,2364856.0,18.60,20.32,1.11,6.82
12,Afghanistan,2010,Developing,56.05,-2.0,93,0.22,16.94,63.0,2487,...,35.0,7.26,35.0,0.57,187.02,21979924.0,19.77,2.96,0.17,6.58
13,Afghanistan,2009,Developing,56.02,309.0,89,0.27,11.00,57.0,8764,...,34.0,6.90,40.0,-0.61,118.85,2966463.0,2.08,3.06,1.05,6.17
14,Afghanistan,2008,Developing,54.61,324.0,90,-0.40,10.77,62.0,6532,...,23.0,8.00,27.0,0.27,114.00,293753.0,2.29,2.68,1.40,6.09
15,Albania,2022,Developing,77.21,5.0,0,4.31,428.47,95.0,2,...,100.0,6.01,103.0,-0.02,4575.49,288912.0,1.19,0.89,1.14,14.13
16,Albania,2021,Developing,76.09,84.0,-5,4.52,431.34,102.0,4,...,98.0,6.01,99.0,0.17,4415.04,289592.0,1.13,1.21,0.68,13.74
17,Albania,2020,Developing,76.86,85.0,0,5.72,412.11,100.0,9,...,102.0,5.59,94.0,-0.93,4247.99,2941.0,1.33,1.84,0.74,13.98
18,Albania,2019,Developing,76.63,92.0,0,5.43,436.45,100.0,32,...,106.0,5.56,97.0,0.10,4436.96,295193.0,0.85,1.95,0.31,13.18
19,Albania,2018,Developing,76.44,96.0,2,4.86,41.58,99.0,11,...,90.0,5.77,101.0,0.26,494.65,291322.0,1.14,0.54,0.04,11.50

In [ ]:
len(data['Country'].unique())

193

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2755 entries, 0 to 2754
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   2755 non-null   object
 1   Year                      2755 non-null   int64
 2   Status                    2755 non-null   object
 3   Power Level               2745 non-null   float64
 4   Civilian Deaths           2745 non-null   float64
 5   Military Accidents        2755 non-null   int64
 6   Substance Abuse           2738 non-null   float64
 7   Military Investment       2755 non-null   float64
 8   Air Force                 2211 non-null   float64
 9   Army                      2755 non-null   int64
 10  Intelligence              2723 non-null   float64
 11  Navy                      2755 non-null   int64
 12  Submarines                2736 non-null   float64
 13  Educational Investment    2710 non-null   float64
 14  Literacy                  2736 non-null   float64
 15  Revolts                   2755 non-null   float64
 16  GDP                       2336 non-null   float64
 17  Population                2144 non-null   float64
 18  Offense                   2723 non-null   float64
 19  Defense                   2723 non-null   float64
 20  Political Stability       2598 non-null   float64
 21  International Reputation  2602 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 473.6+ KB

In [ ]:
data.describe()

,Year,Power Level,Civilian Deaths,Military Accidents,Substance Abuse,Military Investment,Air Force,Army,Intelligence,Navy,Submarines,Educational Investment,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation
count,2755.000000,2745.000000,2745.000000,2755.000000,2738.000000,2755.000000,2211.000000,2755.000000,2723.000000,2755.000000,2736.000000,2710.000000,2736.000000,2755.000000,2336.000000,2.144000e+03,2723.000000,2723.000000,2598.000000,2602.000000
mean,2015.021779,69.053974,165.606193,30.763339,4.612863,787.129020,80.872908,2480.524138,38.023030,42.790563,82.475512,5.940052,82.254386,1.808407,7502.798523,1.286305e+07,4.852435,4.908480,0.638776,11.925008
std,4.328500,9.610152,125.877696,119.776471,4.079841,2043.524973,25.316113,11666.603222,19.973359,163.353254,23.521699,2.544054,24.022498,5.238361,14425.541381,6.255998e+07,4.470310,4.567235,0.535577,3.409595
min,2008.000000,36.090000,-2.000000,-9.000000,-1.470000,-1.440000,-2.000000,-9.000000,0.820000,-10.000000,0.000000,-0.090000,-1.000000,-1.580000,2.460000,3.100000e+01,-1.090000,-1.380000,-1.300000,-1.000000
25%,2011.000000,62.870000,74.000000,1.000000,0.942500,10.325000,77.000000,1.000000,19.075000,1.000000,78.000000,4.232500,78.000000,-0.080000,453.740000,1.922085e+05,1.565000,1.560000,0.290000,10.042500
50%,2015.000000,72.010000,144.000000,4.000000,3.710000,79.820000,91.000000,17.000000,43.190000,5.000000,92.000000,5.770000,92.000000,0.360000,1720.520000,1.361184e+06,3.350000,3.350000,0.650000,12.245000
75%,2019.000000,75.620000,228.000000,22.500000,7.747500,490.535000,96.000000,374.500000,55.895000,28.000000,97.000000,7.540000,97.000000,1.135000,5845.192500,7.292424e+06,7.215000,7.230000,1.010000,14.260000
max,2022.000000,90.160000,721.000000,1797.000000,18.580000,19479.680000,105.000000,212179.000000,87.570000,2501.000000,108.000000,17.460000,107.000000,50.310000,119173.150000,1.293859e+09,27.620000,29.130000,2.350000,21.130000

In [ ]:
#for military investment, civ deaths, substance abuse, sub,ed invest i think it is safe to make missing values zero
# for gdp popln pol stab i think we should extrapolate, using the countries own prev data

In [ ]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
data["Country ID"] = lb.fit_transform(data["Country"])

In [ ]:
data.head(20)

,Country,Year,Status,Power Level,Civilian Deaths,Military Accidents,Substance Abuse,Military Investment,Air Force,Army,...,Educational Investment,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation,Country ID
0,Afghanistan,2022,Developing,59.73,271.0,62,-0.25,73.83,59.0,495,...,8.06,62.0,-0.21,612.86,327582.0,17.16,17.68,0.44,10.57,0
1,Afghanistan,2021,Developing,60.50,268.0,66,-0.67,73.66,71.0,431,...,8.08,65.0,-0.04,631.58,31731688.0,18.28,17.85,0.72,10.40,0
2,Afghanistan,2020,Developing,60.09,271.0,70,-0.17,77.76,65.0,2788,...,8.71,70.0,-0.21,669.50,3696953.0,16.85,18.46,0.99,9.52,0
3,Afghanistan,2019,Developing,58.88,279.0,70,0.69,6.95,72.0,3014,...,8.34,72.0,-0.60,63.67,2978596.0,17.72,18.11,0.84,9.82,0
4,Afghanistan,2018,Developing,59.26,272.0,74,0.07,79.82,70.0,1988,...,9.40,66.0,-0.12,553.89,2883166.0,18.91,18.76,0.52,9.14,0
5,Afghanistan,2017,Developing,58.80,277.0,74,0.33,56.76,63.0,2860,...,9.19,64.0,0.39,445.83,284326.0,18.19,18.44,-0.17,8.76,0
6,Afghanistan,2016,Developing,58.50,283.0,80,0.80,25.99,65.0,1600,...,8.42,66.0,0.74,372.62,2729431.0,19.85,19.22,0.31,7.95,0
7,Afghanistan,2015,Developing,57.64,297.0,89,0.71,11.24,63.0,1143,...,7.12,62.0,0.41,369.92,26616795.0,18.41,19.54,0.58,7.86,0
8,Afghanistan,2014,Developing,58.01,299.0,84,-1.30,16.92,60.0,1989,...,6.93,60.0,0.35,273.08,2589343.0,20.09,19.70,0.30,8.44,0
9,Afghanistan,2013,Developing,57.62,287.0,86,-0.22,2.72,66.0,1295,...,8.87,57.0,1.28,25.23,257795.0,18.46,18.70,0.07,7.81,0
10,Afghanistan,2012,Developing,56.44,288.0,86,-0.49,15.30,65.0,467,...,8.75,7.0,0.61,218.63,24118976.0,20.20,18.89,1.99,7.39,0
11,Afghanistan,2011,Developing,56.43,292.0,87,-0.33,9.63,67.0,804,...,9.08,41.0,-0.24,198.98,2364856.0,18.60,20.32,1.11,6.82,0
12,Afghanistan,2010,Developing,56.05,-2.0,93,0.22,16.94,63.0,2487,...,7.26,35.0,0.57,187.02,21979924.0,19.77,2.96,0.17,6.58,0
13,Afghanistan,2009,Developing,56.02,309.0,89,0.27,11.00,57.0,8764,...,6.90,40.0,-0.61,118.85,2966463.0,2.08,3.06,1.05,6.17,0
14,Afghanistan,2008,Developing,54.61,324.0,90,-0.40,10.77,62.0,6532,...,8.00,27.0,0.27,114.00,293753.0,2.29,2.68,1.40,6.09,0
15,Albania,2022,Developing,77.21,5.0,0,4.31,428.47,95.0,2,...,6.01,103.0,-0.02,4575.49,288912.0,1.19,0.89,1.14,14.13,1
16,Albania,2021,Developing,76.09,84.0,-5,4.52,431.34,102.0,4,...,6.01,99.0,0.17,4415.04,289592.0,1.13,1.21,0.68,13.74,1
17,Albania,2020,Developing,76.86,85.0,0,5.72,412.11,100.0,9,...,5.59,94.0,-0.93,4247.99,2941.0,1.33,1.84,0.74,13.98,1
18,Albania,2019,Developing,76.63,92.0,0,5.43,436.45,100.0,32,...,5.56,97.0,0.10,4436.96,295193.0,0.85,1.95,0.31,13.18,1
19,Albania,2018,Developing,76.44,96.0,2,4.86,41.58,99.0,11,...,5.77,101.0,0.26,494.65,291322.0,1.14,0.54,0.04,11.50,1

In [ ]:
data.drop(["Country"], axis = 1, inplace=True)

In [ ]:
data.head(5)

,Year,Status,Power Level,Civilian Deaths,Military Accidents,Substance Abuse,Military Investment,Air Force,Army,Intelligence,...,Educational Investment,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation,Country ID
0,2022,Developing,59.73,271.0,62,-0.25,73.83,59.0,495,18.33,...,8.06,62.0,-0.21,612.86,327582.0,17.16,17.68,0.44,10.57,0
1,2021,Developing,60.50,268.0,66,-0.67,73.66,71.0,431,18.80,...,8.08,65.0,-0.04,631.58,31731688.0,18.28,17.85,0.72,10.40,0
2,2020,Developing,60.09,271.0,70,-0.17,77.76,65.0,2788,16.39,...,8.71,70.0,-0.21,669.50,3696953.0,16.85,18.46,0.99,9.52,0
3,2019,Developing,58.88,279.0,70,0.69,6.95,72.0,3014,16.64,...,8.34,72.0,-0.60,63.67,2978596.0,17.72,18.11,0.84,9.82,0
4,2018,Developing,59.26,272.0,74,0.07,79.82,70.0,1988,17.04,...,9.40,66.0,-0.12,553.89,2883166.0,18.91,18.76,0.52,9.14,0

In [ ]:
lb = LabelEncoder()
data["StatusID"] = lb.fit_transform(data["Status"])

In [ ]:
data.drop(["Status"],axis=1,inplace=True)

In [ ]:
data.head(25)

,Year,Power Level,Civilian Deaths,Military Accidents,Substance Abuse,Military Investment,Air Force,Army,Intelligence,Navy,...,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation,Country ID,StatusID
0,2022,59.73,271.0,62,-0.25,73.83,59.0,495,18.33,83,...,62.0,-0.21,612.86,327582.0,17.16,17.68,0.44,10.57,0,1
1,2021,60.50,268.0,66,-0.67,73.66,71.0,431,18.80,94,...,65.0,-0.04,631.58,31731688.0,18.28,17.85,0.72,10.40,0,1
2,2020,60.09,271.0,70,-0.17,77.76,65.0,2788,16.39,89,...,70.0,-0.21,669.50,3696953.0,16.85,18.46,0.99,9.52,0,1
3,2019,58.88,279.0,70,0.69,6.95,72.0,3014,16.64,103,...,72.0,-0.60,63.67,2978596.0,17.72,18.11,0.84,9.82,0,1
4,2018,59.26,272.0,74,0.07,79.82,70.0,1988,17.04,102,...,66.0,-0.12,553.89,2883166.0,18.91,18.76,0.52,9.14,0,1
5,2017,58.80,277.0,74,0.33,56.76,63.0,2860,16.23,107,...,64.0,0.39,445.83,284326.0,18.19,18.44,-0.17,8.76,0,1
6,2016,58.50,283.0,80,0.80,25.99,65.0,1600,16.54,116,...,66.0,0.74,372.62,2729431.0,19.85,19.22,0.31,7.95,0,1
7,2015,57.64,297.0,89,0.71,11.24,63.0,1143,15.77,113,...,62.0,0.41,369.92,26616795.0,18.41,19.54,0.58,7.86,0,1
8,2014,58.01,299.0,84,-1.30,16.92,60.0,1989,14.10,119,...,60.0,0.35,273.08,2589343.0,20.09,19.70,0.30,8.44,0,1
9,2013,57.62,287.0,86,-0.22,2.72,66.0,1295,15.22,116,...,57.0,1.28,25.23,257795.0,18.46,18.70,0.07,7.81,0,1
10,2012,56.44,288.0,86,-0.49,15.30,65.0,467,14.31,120,...,7.0,0.61,218.63,24118976.0,20.20,18.89,1.99,7.39,0,1
11,2011,56.43,292.0,87,-0.33,9.63,67.0,804,13.45,122,...,41.0,-0.24,198.98,2364856.0,18.60,20.32,1.11,6.82,0,1
12,2010,56.05,-2.0,93,0.22,16.94,63.0,2487,13.16,119,...,35.0,0.57,187.02,21979924.0,19.77,2.96,0.17,6.58,0,1
13,2009,56.02,309.0,89,0.27,11.00,57.0,8764,13.07,123,...,40.0,-0.61,118.85,2966463.0,2.08,3.06,1.05,6.17,0,1
14,2008,54.61,324.0,90,-0.40,10.77,62.0,6532,12.82,125,...,27.0,0.27,114.00,293753.0,2.29,2.68,1.40,6.09,0,1
15,2022,77.21,5.0,0,4.31,428.47,95.0,2,56.90,2,...,103.0,-0.02,4575.49,288912.0,1.19,0.89,1.14,14.13,1,1
16,2021,76.09,84.0,-5,4.52,431.34,102.0,4,55.77,2,...,99.0,0.17,4415.04,289592.0,1.13,1.21,0.68,13.74,1,1
17,2020,76.86,85.0,0,5.72,412.11,100.0,9,56.69,0,...,94.0,-0.93,4247.99,2941.0,1.33,1.84,0.74,13.98,1,1
18,2019,76.63,92.0,0,5.43,436.45,100.0,32,55.21,0,...,97.0,0.10,4436.96,295193.0,0.85,1.95,0.31,13.18,1,1
19,2018,76.44,96.0,2,4.86,41.58,99.0,11,54.11,2,...,101.0,0.26,494.65,291322.0,1.14,0.54,0.04,11.50,1,1
20,2017,76.78,92.0,1,6.39,348.06,102.0,3,52.76,4,...,101.0,-0.04,4113.60,2927522.0,1.20,1.77,0.65,12.95,1,1
21,2016,75.77,2.0,-2,5.90,36.74,99.0,-1,52.61,0,...,95.0,0.14,436.92,2947309.0,1.26,1.37,0.43,11.61,1,1
22,2015,75.44,6.0,-1,5.95,32.94,98.0,25,51.66,-5,...,95.0,0.10,363.46,29719.0,2.40,1.73,0.79,12.31,1,1
23,2014,74.05,100.0,1,6.38,3.80,96.0,68,4.57,1,...,97.0,-0.32,35.43,2992547.0,1.66,2.09,1.60,11.58,1,1
24,2013,74.07,15.0,3,4.54,27.72,95.0,8,49.16,2,...,97.0,-0.02,280.01,311488.0,2.74,1.94,0.36,10.27,1,1

In [ ]:
data.corr()

,Year,Power Level,Civilian Deaths,Military Accidents,Substance Abuse,Military Investment,Air Force,Army,Intelligence,Navy,...,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation,Country ID,StatusID
Year,1.000000,0.162435,-0.076798,-0.035380,-0.054294,0.078829,0.109809,-0.082548,0.097344,-0.040464,...,0.138061,-0.131567,0.116754,0.022072,-0.044110,-0.047971,0.065067,0.196193,0.001664,0.002312
Power Level,0.162435,1.000000,-0.690898,-0.193018,0.402834,0.399105,0.242607,-0.159956,0.567848,-0.219216,...,0.475092,-0.558069,0.462918,-0.020440,-0.469101,-0.466099,0.270642,0.737345,-0.015994,-0.480570
Civilian Deaths,-0.076798,-0.690898,1.000000,0.074433,-0.193111,-0.251219,-0.156484,0.029671,-0.386710,0.089860,...,-0.269246,0.526440,-0.294505,-0.015363,0.299096,0.305954,-0.206178,-0.445584,0.042701,0.312808
Military Accidents,-0.035380,-0.193018,0.074433,1.000000,-0.114964,-0.088672,-0.231591,0.491652,-0.227704,0.996345,...,-0.181261,0.022532,-0.107920,0.564091,0.456722,0.467866,-0.086136,-0.191995,-0.031560,0.112172
Substance Abuse,-0.054294,0.402834,-0.193111,-0.114964,1.000000,0.340270,0.089354,-0.049947,0.325401,-0.111840,...,0.222827,-0.050147,0.353780,-0.033224,-0.420699,-0.406966,0.155222,0.535087,-0.067536,-0.592047
Military Investment,0.078829,0.399105,-0.251219,-0.088672,0.340270,1.000000,0.016712,-0.059719,0.243040,-0.091077,...,0.149604,-0.103637,0.923070,-0.026666,-0.259896,-0.259154,0.152675,0.404076,-0.034121,-0.471378
Air Force,0.109809,0.242607,-0.156484,-0.231591,0.089354,0.016712,1.000000,-0.127066,0.147547,-0.240059,...,0.580911,-0.106553,0.076754,-0.124832,-0.123434,-0.126576,0.064087,0.213157,-0.009019,-0.114980
Army,-0.082548,-0.159956,0.029671,0.491652,-0.049947,-0.059719,-0.127066,1.000000,-0.176909,0.500109,...,-0.150820,0.028352,-0.076566,0.269719,0.219196,0.220588,-0.057931,-0.141090,-0.023325,0.077040
Intelligence,0.097344,0.567848,-0.386710,-0.227704,0.325401,0.243040,0.147547,-0.176909,1.000000,-0.238161,...,0.280781,-0.245895,0.299366,-0.075149,-0.530924,-0.537966,0.196675,0.538499,0.022682,-0.311676
Navy,-0.040464,-0.219216,0.089860,0.996345,-0.111840,-0.091077,-0.240059,0.500109,-0.238161,1.000000,...,-0.200748,0.034934,-0.111537,0.549655,0.460442,0.470606,-0.091967,-0.207072,-0.026416,0.115447
Submarines,0.103556,0.460480,-0.267443,-0.168373,0.218862,0.153246,0.474800,-0.137670,0.287068,-0.186313,...,0.667302,-0.155861,0.209509,-0.030342,-0.218403,-0.222635,0.120443,0.409380,0.021050,-0.220073
Educational Investment,0.081480,0.209650,-0.107973,-0.123593,0.286264,0.170579,0.056814,-0.104841,0.238850,-0.125096,...,0.148973,-0.002360,0.133748,-0.078900,-0.267794,-0.269873,0.074611,0.232596,0.058942,-0.289780
Literacy,0.138061,0.475092,-0.269246,-0.181261,0.222827,0.149604,0.580911,-0.150820,0.280781,-0.200748,...,1.000000,-0.163943,0.197761,-0.027619,-0.230174,-0.221625,0.132046,0.415189,-0.000170,-0.217051
Revolts,-0.131567,-0.558069,0.526440,0.022532,-0.050147,-0.103637,-0.106553,0.028352,-0.245895,0.034934,...,-0.163943,1.000000,-0.136414,-0.032281,0.205240,0.210929,-0.127542,-0.217146,0.093245,0.151354
GDP,0.116754,0.462918,-0.294505,-0.107920,0.353780,0.923070,0.076754,-0.076566,0.299366,-0.111537,...,0.197761,-0.136414,1.000000,-0.030458,-0.285765,-0.289010,0.189937,0.443440,-0.014262,-0.484515
Population,0.022072,-0.020440,-0.015363,0.564091,-0.033224,-0.026666,-0.124832,0.269719,-0.075149,0.549655,...,-0.027619,-0.032281,-0.030458,1.000000,0.257579,0.259945,-0.042775,-0.032400,-0.017006,0.047610
Offense,-0.044110,-0.469101,0.299096,0.456722,-0.420699,-0.259896,-0.123434,0.219196,-0.530924,0.460442,...,-0.230174,0.205240,-0.285765,0.257579,1.000000,0.923491,-0.176379,-0.460975,0.011563,0.366360
Defense,-0.047971,-0.466099,0.305954,0.467866,-0.406966,-0.259154,-0.126576,0.220588,-0.537966,0.470606,...,-0.221625,0.210929,-0.289010,0.259945,0.923491,1.000000,-0.167380,-0.453526,0.022537,0.361344
Political Stability,0.065067,0.270642,-0.206178,-0.086136,0.155222,0.152675,0.064087,-0.057931,0.196675,-0.091967,...,0.132046,-0.127542,0.189937,-0.042775,-0.176379,-0.167380,1.000000,0.276944,-0.029424,-0.181268
International Reputation,0.196193,0.737345,-0.445584,-0.191995,0.535087,0.404076,0.213157,-0.141090,0.538499,-0.207072,...,0.415189,-0.217146,0.443440,-0.032400,-0.460975,-0.453526,0.276944,1.000000,-0.022719,-0.507842
Country ID,0.001664,-0.015994,0.042701,-0.031560,-0.067536,-0.034121,-0.009019,-0.023325,0.022682,-0.026416,...,-0.000170,0.093245,-0.014262,-0.017006,0.011563,0.022537,-0.029424,-0.022719,1.000000,-0.031597
StatusID,0.002312,-0.480570,0.312808,0.112172,-0.592047,-0.471378,-0.114980,0.077040,-0.311676,0.115447,...,-0.217051,0.151354,-0.484515,0.047610,0.366360,0.361344,-0.181268,-0.507842,-0.031597,1.000000

In [ ]:
data.drop(columns = ["Population","Army","Educational Investment","Substance Abuse"], inplace=True)

In [ ]:
data['Power Level']=pd.to_numeric(data['Power Level'],errors='coerce')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2755 entries, 0 to 2754
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      2755 non-null   int64
 1   Power Level               2745 non-null   float64
 2   Civilian Deaths           2745 non-null   float64
 3   Military Accidents        2755 non-null   int64
 4   Military Investment       2755 non-null   float64
 5   Air Force                 2211 non-null   float64
 6   Intelligence              2723 non-null   float64
 7   Navy                      2755 non-null   int64
 8   Submarines                2736 non-null   float64
 9   Literacy                  2736 non-null   float64
 10  Revolts                   2755 non-null   float64
 11  GDP                       2336 non-null   float64
 12  Offense                   2723 non-null   float64
 13  Defense                   2723 non-null   float64
 14  Political Stability       2598 non-null   float64
 15  International Reputation  2602 non-null   float64
 16  Country ID                2755 non-null   int64
 17  StatusID                  2755 non-null   int64
dtypes: float64(13), int64(5)
memory usage: 387.5 KB

In [ ]:
X=data.iloc[:,data.columns!='Power Level']

In [ ]:
Y=data.iloc[:,data.columns=='Power Level']

In [ ]:
X.head()

,Year,Civilian Deaths,Military Accidents,Military Investment,Air Force,Intelligence,Navy,Submarines,Literacy,Revolts,GDP,Offense,Defense,Political Stability,International Reputation,Country ID,StatusID
0,2022,271.0,62,73.83,59.0,18.33,83,58.0,62.0,-0.21,612.86,17.16,17.68,0.44,10.57,0,1
1,2021,268.0,66,73.66,71.0,18.80,94,60.0,65.0,-0.04,631.58,18.28,17.85,0.72,10.40,0,1
2,2020,271.0,70,77.76,65.0,16.39,89,65.0,70.0,-0.21,669.50,16.85,18.46,0.99,9.52,0,1
3,2019,279.0,70,6.95,72.0,16.64,103,65.0,72.0,-0.60,63.67,17.72,18.11,0.84,9.82,0,1
4,2018,272.0,74,79.82,70.0,17.04,102,67.0,66.0,-0.12,553.89,18.91,18.76,0.52,9.14,0,1

In [ ]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2755 entries, 0 to 2754
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Power Level  2745 non-null   float64
dtypes: float64(1)
memory usage: 21.6 KB

###Splitting the dataset

In [ ]:
from sklearn.model_selection  import train_test_split as tts
Xtrain,Xtest,Ytrain,Ytest=tts(X,Y,random_state=41)

In [ ]:
Xtrain.head(30)

,Year,Civilian Deaths,Military Accidents,Military Investment,Air Force,Intelligence,Navy,Submarines,Literacy,Revolts,GDP,Offense,Defense,Political Stability,International Reputation,Country ID,StatusID
1531,2008,41.0,53,23.44,NaN,15.25,109,54.0,35.0,1.77,269.73,11.05,1.61,0.43,3.52,103,1
1276,2008,289.0,8,112.10,104.0,43.89,11,98.0,95.0,-0.39,1229.98,2.98,1.72,0.65,11.73,86,1
361,2021,16.0,0,149.22,91.0,64.18,-2,90.0,94.0,-0.84,7674.63,2.40,1.34,0.68,14.54,24,0
631,2022,53.0,-1,206.72,97.0,59.56,0,100.0,103.0,0.30,2735.45,0.86,1.51,1.10,14.19,42,0
2029,2010,417.0,32,1.55,89.0,14.06,56,90.0,86.0,8.95,197.32,7.69,8.16,0.67,7.05,141,1
103,2009,143.0,0,53.24,68.0,47.06,5,102.0,92.0,0.55,694.44,1.65,2.32,0.16,10.64,6,1
2028,2011,47.0,32,32.74,95.0,14.02,49,95.0,96.0,8.65,212.73,6.33,8.59,-0.18,8.35,141,1
1617,2014,274.0,3,122.09,95.0,43.28,3,98.0,100.0,-0.96,1334.64,1.74,2.78,1.33,13.34,111,1
48,2019,356.0,76,239.85,74.0,20.91,116,72.0,73.0,1.87,4299.01,8.95,9.10,-0.13,9.01,3,1
2619,2008,456.0,114,0.42,NaN,15.70,180,66.0,74.0,12.60,NaN,7.94,8.65,NaN,NaN,183,1
837,2012,353.0,215,0.75,NaN,14.12,347,55.0,1.0,4.45,135.45,11.05,11.89,1.69,4.97,57,1
2242,2009,351.0,50,0.29,NaN,17.80,74,29.0,32.0,0.72,NaN,9.21,8.18,NaN,NaN,157,1
728,2016,163.0,6,49.58,82.0,51.23,7,82.0,84.0,1.05,511.31,3.74,3.28,2.07,12.62,50,1
2014,2010,316.0,19,266.61,78.0,55.23,26,98.0,99.0,0.44,2375.64,3.13,3.75,0.71,11.86,140,1
574,2018,299.0,4,-0.67,74.0,25.10,13,72.0,75.0,4.06,NaN,7.76,7.83,0.49,10.59,37,1
1320,2009,97.0,1,113.72,100.0,65.94,1,99.0,95.0,-0.14,1654.98,3.79,2.68,1.27,14.80,89,1
2170,2021,60.0,-2,713.35,100.0,33.21,5,96.0,98.0,-0.52,5629.69,2.27,1.87,1.06,14.78,153,0
528,2019,95.0,214,91.46,99.0,28.13,250,102.0,96.0,-0.09,5633.83,4.46,3.95,0.74,13.20,34,1
212,2020,190.0,-2,91.47,102.0,6.17,1,96.0,99.0,0.49,693.75,1.56,1.75,-0.27,14.85,14,1
1519,2020,21.0,54,96.05,66.0,22.17,93,73.0,67.0,1.64,776.81,9.16,7.78,0.21,8.21,103,1
1015,2014,316.0,33,10.29,NaN,19.14,51,53.0,60.0,2.32,296.43,8.40,8.45,0.07,7.50,69,1
59,2008,50.0,94,15.09,NaN,16.00,161,3.0,27.0,1.66,554.97,2.33,1.91,0.60,4.57,3,1
600,2008,98.0,2,93.72,89.0,44.93,-7,9.0,91.0,0.77,388.71,1.31,1.53,1.06,12.16,39,1
2404,2012,181.0,8,2.11,80.0,34.13,10,81.0,93.0,0.09,38.74,3.64,4.78,0.54,10.70,168,1
1342,2017,220.0,9,-0.16,63.0,17.79,15,66.0,63.0,0.88,NaN,9.31,10.03,0.68,8.29,91,1
342,2010,176.0,96,141.03,93.0,45.83,110,94.0,98.0,0.45,2819.60,2.98,2.35,0.66,15.03,22,1
1624,2022,18.0,-1,724.87,89.0,62.15,-2,88.0,92.0,-0.29,7377.81,1.22,2.11,1.26,16.20,112,1
2569,2013,284.0,2,218.18,97.0,56.11,6,92.0,94.0,0.40,1828.96,2.42,2.47,0.87,14.67,180,1
2081,2020,192.0,-3,9.01,93.0,28.51,3,98.0,94.0,1.23,138.99,5.84,6.37,0.94,11.34,147,1
2185,2021,117.0,-3,0.57,97.0,57.24,-1,103.0,97.0,0.05,NaN,0.04,2.38,1.04,15.49,154,0

# Preprocessing

In [ ]:
Ytrain['Power Level']=Ytrain['Power Level'].fillna(value=Ytrain['Power Level'].median())

In [ ]:
Xtrain[['Civilian Deaths','Air Force','Submarines','International Reputation']]=Xtrain[['Civilian Deaths','Air Force','Submarines','International Reputation']].fillna(value=0)

In [ ]:
Xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2066 entries, 1531 to 1984
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      2066 non-null   int64
 1   Civilian Deaths           2066 non-null   float64
 2   Military Accidents        2066 non-null   int64
 3   Military Investment       2066 non-null   float64
 4   Air Force                 2066 non-null   float64
 5   Intelligence              2045 non-null   float64
 6   Navy                      2066 non-null   int64
 7   Submarines                2066 non-null   float64
 8   Literacy                  2054 non-null   float64
 9   Revolts                   2066 non-null   float64
 10  GDP                       1757 non-null   float64
 11  Offense                   2045 non-null   float64
 12  Defense                   2045 non-null   float64
 13  Political Stability       1940 non-null   float64
 14  International Reputation  2066 non-null   float64
 15  Country ID                2066 non-null   int64
 16  StatusID                  2066 non-null   int64
dtypes: float64(12), int64(5)
memory usage: 290.5 KB

In [ ]:
med1=Xtrain.groupby('Country ID')['Intelligence'].median()

In [ ]:
Xtrain['Intelligence']=Xtrain['Intelligence'].fillna(med1)

In [ ]:
med2=Xtrain.groupby('Country ID')['Literacy'].median()

In [ ]:
Xtrain['Literacy']=Xtrain['Literacy'].fillna(med2)

In [ ]:
med3=Xtrain.groupby('Country ID')['Offense'].median()

In [ ]:
Xtrain['Offense']=Xtrain['Offense'].fillna(med3)

In [ ]:
med4=Xtrain.groupby('Country ID')['Defense'].median()

In [ ]:
med5=Xtrain.groupby('Country ID')['Political Stability'].median()

In [ ]:
Xtrain['Political Stability']=Xtrain['Political Stability'].fillna(med5)

In [ ]:
med4.unique()

array([ 1.8285e+01,  1.7700e+00,  5.8700e+00,  9.1000e+00,  3.2100e+00,
        1.4050e+00,  2.1000e+00,  6.2500e-01,  1.9900e+00,  3.0350e+00,
        2.5200e+00,  5.7650e+00,  1.9035e+01,  3.8000e+00,  2.4250e+00,
        1.0300e+00,  3.9200e+00,  8.2900e+00,  1.8480e+01,  1.1100e+00,
        2.9900e+00,  8.7000e+00,  2.8850e+00,  5.6450e+00,  2.1700e+00,
        9.5600e+00,  8.2200e+00,  1.1620e+01,  6.8200e+00,  5.8000e-01,
        8.6900e+00,  8.6250e+00,  1.0100e+00,  4.2300e+00,  7.0000e+00,
        8.0000e+00,  5.5000e-01,  1.7900e+00,  1.7100e+00,  3.2900e+00,
        1.3200e+00,  1.6300e+00,  6.5800e+00,  5.5900e+00,  1.0480e+01,
        9.4000e-01,  5.7000e+00,  1.6400e+00,  3.3700e+00,  1.3600e+00,
        2.8500e+00,  8.8050e+00,  2.0300e+00,  1.1045e+01,  3.7900e+00,
        7.0000e-01,  9.3000e-01,  7.1350e+00,  8.3200e+00,  2.9700e+00,
        1.2900e+00,  8.2650e+00,  8.9000e-01,  3.8700e+00,  1.1750e+00,
        8.1350e+00,  5.3850e+00,  4.0450e+00,  1.9400e+00,  8.3000e-01,
        2.7850e+01,  1.7500e+00,  7.8100e+00,  4.9900e+00,  4.2000e-01,
        4.9000e-01,  1.8300e+00,  1.1900e+00,  3.7400e+00,  2.1400e+00,
        2.4500e-01,  2.9400e+00,  3.0700e+00,  1.5200e+00,  2.8000e+00,
        4.7850e+00,  6.7150e+00,  8.1600e+00,  5.2850e+00,  6.4000e-01,
        7.5900e+00,  7.2850e+00,  8.3450e+00,  1.4200e+01,  8.0200e+00,
        8.2000e-01,  1.0000e-02,  8.3850e+00,  7.7400e+00,  1.6000e+00,
        2.7000e-01,         nan,  2.5600e+00,  2.5350e+00,  6.1600e+00,
        3.4700e+00,  1.3450e+01,  1.2940e+01,  6.6000e-01,  1.7880e+01,
        1.2100e+00,  1.4500e-01,  1.0930e+01,  1.1585e+01,  3.8000e-01,
        6.5500e+00,  2.1845e+01,  2.0700e+00,  1.6500e+00,  2.2800e+00,
        9.8900e+00,  2.6500e+00,  4.6650e+00,  7.6000e-01,  3.7500e+00,
        2.1800e+00,  7.1700e+00,  4.4500e+00,  3.5900e+00,  7.5000e-02,
        6.6000e+00,  7.5700e+00,  1.0085e+01,  6.2800e+00,  2.1600e+00,
        1.4900e+00,  1.9200e+00,  1.3550e+00,  7.4000e+00,  1.3060e+01,
        3.7000e-01,  1.5480e+01,  3.6350e+00,  6.6800e+00,  1.4600e+00,
        3.1000e-01,  3.8500e+00,  8.9000e+00,  2.4800e+00,  1.1580e+01,
        8.1400e+00, -3.5000e-02,  6.3500e+00,  6.0600e+00,  5.0500e+00,
        3.4500e+00, -9.5000e-01,  6.3400e+00,  5.0800e+00,  7.2000e-01,
        7.2200e+00,  6.8000e-01,  1.4350e+00,  3.1300e+00,  1.6350e+00,
        1.3900e+00,  1.5590e+01,  1.3470e+01,  6.5100e+00])

In [ ]:
Xtrain['Defense']=Xtrain['Defense'].fillna(med4)

In [ ]:
gdp = Xtrain['GDP'].expanding().mean()

In [ ]:
gdp

1531     269.730000
1276     749.855000
361     3058.113333
631     2977.447500
2029    2421.422000
           ...
243     7609.699840
321     7608.567595
1104    7643.157694
931     7639.201047
1984    7639.201047
Name: GDP, Length: 2066, dtype: float64

In [ ]:
Xtrain['GDP'] = Xtrain['GDP'].fillna(gdp)

In [ ]:
Xtrain

,Year,Civilian Deaths,Military Accidents,Military Investment,Air Force,Intelligence,Navy,Submarines,Literacy,Revolts,GDP,Offense,Defense,Political Stability,International Reputation,Country ID,StatusID
1531,2008,41.0,53,23.44,0.0,15.25,109,54.0,35.0,1.77,269.730000,11.05,1.61,0.43,3.52,103,1
1276,2008,289.0,8,112.10,104.0,43.89,11,98.0,95.0,-0.39,1229.980000,2.98,1.72,0.65,11.73,86,1
361,2021,16.0,0,149.22,91.0,64.18,-2,90.0,94.0,-0.84,7674.630000,2.40,1.34,0.68,14.54,24,0
631,2022,53.0,-1,206.72,97.0,59.56,0,100.0,103.0,0.30,2735.450000,0.86,1.51,1.10,14.19,42,0
2029,2010,417.0,32,1.55,89.0,14.06,56,90.0,86.0,8.95,197.320000,7.69,8.16,0.67,7.05,141,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,2019,189.0,-1,605.02,92.0,47.77,0,96.0,96.0,-0.01,4517.380000,3.79,3.83,1.00,13.17,16,1
321,2016,434.0,1,476.99,92.0,34.01,3,95.0,97.0,12.13,5622.610000,9.47,8.06,0.38,12.65,21,1
1104,2015,56.0,4,12044.07,0.0,57.29,-1,93.0,97.0,0.43,68348.780000,1.49,1.62,1.13,17.04,75,0
931,2008,127.0,2,48.22,53.0,45.70,3,79.0,2.0,0.15,691.330000,2.91,3.50,0.50,11.16,63,1
1984,2010,226.0,-4,-0.38,100.0,47.28,1,96.0,94.0,0.45,7639.201047,2.43,3.99,NaN,0.00,138,1

# Testing and Validation

In [ ]:
Ytest['Power Level']=Ytest['Power Level'].fillna(value=Ytest['Power Level'].median())

In [ ]:
Ytest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 689 entries, 230 to 1120
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Power Level  689 non-null    float64
dtypes: float64(1)
memory usage: 10.8 KB

In [ ]:
Xtest[['Civilian Deaths','Air Force','Submarines','International Reputation']]=Xtest[['Civilian Deaths','Air Force','Submarines','International Reputation']].fillna(value=0)

In [ ]:
med1=Xtest.groupby('Country ID')['Intelligence'].median()

In [ ]:
Xtest['Intelligence']=Xtest['Intelligence'].fillna(med1)

In [ ]:
med2=Xtest.groupby('Country ID')['Literacy'].median()

In [ ]:
Xtest['Literacy']=Xtest['Literacy'].fillna(med2)

In [ ]:
med3=Xtest.groupby('Country ID')['Offense'].median()

In [ ]:
Xtest['Offense']=Xtest['Offense'].fillna(med3)

In [ ]:
med4=Xtest.groupby('Country ID')['Defense'].median()

In [ ]:
Xtest['Defense']=Xtest['Defense'].fillna(med4)

In [ ]:
gdp = Xtest['GDP'].expanding().mean()

In [ ]:
Xtest['GDP'] = Xtest['GDP'].fillna(gdp)

In [ ]:
Xtest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 689 entries, 230 to 1120
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      689 non-null    int64
 1   Civilian Deaths           689 non-null    float64
 2   Military Accidents        689 non-null    int64
 3   Military Investment       689 non-null    float64
 4   Air Force                 689 non-null    float64
 5   Intelligence              678 non-null    float64
 6   Navy                      689 non-null    int64
 7   Submarines                689 non-null    float64
 8   Literacy                  682 non-null    float64
 9   Revolts                   689 non-null    float64
 10  GDP                       689 non-null    float64
 11  Offense                   678 non-null    float64
 12  Defense                   678 non-null    float64
 13  Political Stability       658 non-null    float64
 14  International Reputation  689 non-null    float64
 15  Country ID                689 non-null    int64
 16  StatusID                  689 non-null    int64
dtypes: float64(12), int64(5)
memory usage: 96.9 KB

In [ ]:
Xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2066 entries, 1531 to 1984
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      2066 non-null   int64
 1   Civilian Deaths           2066 non-null   float64
 2   Military Accidents        2066 non-null   int64
 3   Military Investment       2066 non-null   float64
 4   Air Force                 2066 non-null   float64
 5   Intelligence              2045 non-null   float64
 6   Navy                      2066 non-null   int64
 7   Submarines                2066 non-null   float64
 8   Literacy                  2054 non-null   float64
 9   Revolts                   2066 non-null   float64
 10  GDP                       2066 non-null   float64
 11  Offense                   2045 non-null   float64
 12  Defense                   2045 non-null   float64
 13  Political Stability       1940 non-null   float64
 14  International Reputation  2066 non-null   float64
 15  Country ID                2066 non-null   int64
 16  StatusID                  2066 non-null   int64
dtypes: float64(12), int64(5)
memory usage: 290.5 KB

In [ ]:
Ytrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2066 entries, 1531 to 1984
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Power Level  2066 non-null   float64
dtypes: float64(1)
memory usage: 32.3 KB

In [ ]:
Xtrain=Xtrain.fillna(value=0)

In [ ]:
Xtest=Xtest.fillna(value=0)

# model

In [ ]:
from sklearn.metrics import mean_squared_error as mse

In [ ]:
from xgboost import XGBRegressor
xgr=XGBRegressor(
    eta=0.1,
    max_leaves=400,
    max_depth=5,
    random_state=42,
    silent=True
)
xgr.fit(Xtrain, Ytrain)

XGBRegressor(eta=0.1, max_depth=5, max_leaves=400, random_state=42, silent=True)

In [ ]:
ypred=xgr.predict(Xtrain)
print(mse(Ytrain,ypred))
xgr.fit(Xtest,Ytest)
ypred1=xgr.predict(Xtest)
print(mse(Ytest,ypred1))

1.7454687651812664
0.6635404595352079

In [ ]:
from sklearn.model_selection import cross_val_score
print(cross_val_score(xgr,Xtest,Ytest,cv=10,scoring='neg_mean_squared_error' ))
print(cross_val_score(xgr,Xtrain,Ytrain,cv=10,scoring='neg_mean_squared_error' ))

[-7.16391994 -6.73182697 -6.76506812 -7.57612697 -6.53114878 -9.03206226
 -6.59012761 -6.68012765 -4.88513094 -6.74066372]
[-5.78123114 -5.55869405 -5.13459275 -6.64546888 -4.79452173 -4.13827901
 -4.16784576 -6.51051401 -4.85413036 -6.36276879]

#Testing Phase

In [ ]:
test=pd.read_csv('Test_Dataset.csv')

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   183 non-null    object
 1   Year                      183 non-null    int64
 2   Status                    183 non-null    object
 3   Civilian Deaths           183 non-null    int64
 4   Military Accidents        183 non-null    int64
 5   Military Investment       183 non-null    float64
 6   Air Force                 174 non-null    float64
 7   Army                      183 non-null    int64
 8   Intelligence              181 non-null    float64
 9   Navy                      183 non-null    int64
 10  Submarines                183 non-null    int64
 11  Literacy                  183 non-null    int64
 12  Revolts                   183 non-null    float64
 13  GDP                       154 non-null    float64
 14  Population                142 non-null    float64
 15  Offense                   181 non-null    float64
 16  Defense                   181 non-null    float64
 17  Political Stability       173 non-null    float64
 18  International Reputation  173 non-null    float64
dtypes: float64(10), int64(7), object(2)
memory usage: 27.3+ KB

In [ ]:
test.head()

,Country,Year,Status,Civilian Deaths,Military Accidents,Military Investment,Air Force,Army,Intelligence,Navy,Submarines,Literacy,Revolts,GDP,Population,Offense,Defense,Political Stability,International Reputation
0,Afghanistan,2023,Developing,264,61,71.59,69.0,1153,18.28,84,8,68,0.65,583.49,33736494.0,17.50,16.52,1.33,9.68
1,Albania,2023,Developing,75,2,364.95,98.0,-2,57.89,2,97,94,-0.88,3954.09,28873.0,1.43,1.58,1.81,14.35
2,Algeria,2023,Developing,20,21,-0.23,95.0,63,59.52,22,93,92,0.32,4132.55,39871526.0,5.97,5.76,0.25,13.24
3,Angola,2023,Developing,337,65,-0.11,58.0,117,23.71,102,9,63,1.44,3696.01,2785939.0,7.46,8.82,0.04,10.25
4,Antigua and Barbuda,2023,Developing,9,-6,-0.67,98.0,1,47.73,1,95,100,0.68,13567.04,NaN,3.53,3.16,1.18,14.24

In [ ]:
data.head()

,Year,Power Level,Civilian Deaths,Military Accidents,Military Investment,Air Force,Intelligence,Navy,Submarines,Literacy,Revolts,GDP,Offense,Defense,Political Stability,International Reputation,Country ID,StatusID
0,2022,59.73,271.0,62,73.83,59.0,18.33,83,58.0,62.0,-0.21,612.86,17.16,17.68,0.44,10.57,0,1
1,2021,60.50,268.0,66,73.66,71.0,18.80,94,60.0,65.0,-0.04,631.58,18.28,17.85,0.72,10.40,0,1
2,2020,60.09,271.0,70,77.76,65.0,16.39,89,65.0,70.0,-0.21,669.50,16.85,18.46,0.99,9.52,0,1
3,2019,58.88,279.0,70,6.95,72.0,16.64,103,65.0,72.0,-0.60,63.67,17.72,18.11,0.84,9.82,0,1
4,2018,59.26,272.0,74,79.82,70.0,17.04,102,67.0,66.0,-0.12,553.89,18.91,18.76,0.52,9.14,0,1

In [ ]:
test["Country ID"] = lb.fit_transform(test["Country"])

In [ ]:
test.drop(["Country"], axis = 1, inplace=True)

In [ ]:
test["StatusID"] = lb.fit_transform(test["Status"])
test.drop(['Status'],axis=1,inplace=True)

In [ ]:
test.drop(columns = ["Population","Army"], inplace=True)

In [ ]:
test[['Civilian Deaths','Air Force','Submarines','International Reputation']]=test[['Civilian Deaths','Air Force','Submarines','International Reputation']].fillna(value=0)

In [ ]:
med1=test.groupby('Country ID')['Intelligence'].median()
test['Intelligence']=test['Intelligence'].fillna(med1)

In [ ]:
med1=test.groupby('Country ID')['Political Stability'].median()
test['Political Stability']=test['Political Stability'].fillna(med1)

In [ ]:
test=test.fillna(value=0)

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      183 non-null    int64
 1   Civilian Deaths           183 non-null    int64
 2   Military Accidents        183 non-null    int64
 3   Military Investment       183 non-null    float64
 4   Air Force                 183 non-null    float64
 5   Intelligence              183 non-null    float64
 6   Navy                      183 non-null    int64
 7   Submarines                183 non-null    int64
 8   Literacy                  183 non-null    int64
 9   Revolts                   183 non-null    float64
 10  GDP                       183 non-null    float64
 11  Offense                   183 non-null    float64
 12  Defense                   183 non-null    float64
 13  Political Stability       183 non-null    float64
 14  International Reputation  183 non-null    float64
 15  Country ID                183 non-null    int64
 16  StatusID                  183 non-null    int64
dtypes: float64(9), int64(8)
memory usage: 24.4 KB

In [ ]:
predictions=xgr.predict(test)
predictions

array([60.915195, 79.62189 , 73.10838 , 57.517277, 74.419235, 76.735886,
       75.01429 , 82.63505 , 80.93104 , 74.15882 , 74.54651 , 77.742424,
       69.45569 , 75.795006, 72.56848 , 83.00235 , 72.614136, 61.84116 ,
       70.11222 , 73.083496, 75.76119 , 68.61176 , 76.35235 , 77.51602 ,
       76.09182 , 62.00731 , 58.907272, 55.26938 , 74.96609 , 67.672455,
       56.616886, 82.15028 , 53.35746 , 53.535385, 80.67289 , 75.56383 ,
       74.206924, 63.85303 , 61.935505, 76.791855, 78.58214 , 72.80044 ,
       79.436386, 79.044464, 74.68038 , 63.70159 , 84.274475, 60.804287,
       73.719536, 74.540375, 71.71497 , 72.24936 , 56.211525, 66.13172 ,
       76.01978 , 63.91896 , 72.20499 , 82.05987 , 82.84584 , 61.95591 ,
       63.267475, 74.39719 , 81.907135, 69.09537 , 81.968575, 75.201805,
       65.51087 , 58.97755 , 59.048775, 68.27122 , 68.96282 , 72.24348 ,
       77.28919 , 80.75425 , 67.90843 , 70.07151 , 74.71599 , 71.10385 ,
       83.641716, 82.718346, 78.135666, 75.22557 , 79.4709  , 74.15298 ,
       70.51962 , 61.9888  , 67.50033 , 73.80798 , 72.40667 , 69.66382 ,
       74.51921 , 74.0853  , 52.264328, 59.79208 , 73.55709 , 75.06235 ,
       81.66185 , 63.26914 , 58.422417, 74.2177  , 77.60744 , 59.68615 ,
       81.15918 , 64.02608 , 73.802795, 75.94713 , 72.32967 , 70.54893 ,
       76.542   , 75.00132 , 56.789738, 66.372574, 64.27126 , 70.409485,
       83.572334, 82.11578 , 74.31812 , 60.80087 , 55.05527 , 84.649994,
       74.824066, 66.04036 , 74.65508 , 63.101933, 74.94151 , 74.73629 ,
       68.99818 , 76.54156 , 83.684074, 77.49886 , 81.81835 , 75.60063 ,
       76.06941 , 70.38213 , 64.93709 , 74.511185, 73.094444, 70.85643 ,
       66.938515, 73.52182 , 66.67408 , 74.710205, 73.290184, 51.51184 ,
       76.04904 , 77.17556 , 83.15756 , 68.82068 , 57.022713, 63.96064 ,
       55.432293, 84.21823 , 74.89599 , 64.58535 , 72.30033 , 61.397915,
       79.95531 , 80.119026, 64.37372 , 69.10641 , 74.01158 , 75.80981 ,
       72.59827 , 59.97581 , 70.53688 , 74.65479 , 74.320564, 72.99581 ,
       67.514824, 57.366745, 72.45017 , 79.11376 , 80.05701 , 61.879692,
       71.4118  , 77.042015, 70.66377 , 70.463356, 71.77954 , 73.40095 ,
       66.34183 , 62.444244, 59.015335], dtype=float32)

In [ ]:
submission=pd.DataFrame()
submission['Country ID']=test['Country ID']
submission['Predicted Power Level']=predictions

In [ ]:
len(test)

183

In [ ]:
len(submission)

183

In [ ]:
submission.to_csv('submission.csv', index=False)